body{
    margin:0;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar{
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.navBar ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.navBar a{
    text-decoration: none;

    color: white;
}

.logoImagen{
    width: 150px;
    height: auto;
}

.headContent{
    width: 90%;
    display: flex;
    color: white;
    margin-bottom: 30px;
}
.headContent-img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.headContent img{
    width: 70%;
    height: auto;
    border-radius: 20px;
}

.quienesSomos span{
    font-weight: 900;
}

.headContent-text{
    margin-right: 30px;
    width: 60%;
    padding-top: 20px;
}

.headContent-text p{
    text-align: justify;
}
.misionVision{
    display: flex;
    gap: 100px;
    align-items: center;    
    justify-content: center;
}

.headContent-text h3, .headContent-text h4{
    text-align: center;
}

.servicios{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.servicios h4{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.lista-servicios{
    display: flex;
    gap: 40px;
    text-align: justify;
}

.lista-servicios h5{
    text-align: center;
    font-size: 15px;
}

.diferentes{
    display: flex;
    background-color: #E5E7EB;
    padding: 20px 100px 30px 100px;
    flex-direction: column;
    align-items: center;
}

.diferentes h4{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;

}

.diferentes .text{
    width: 50%;
    text-align: center;
}

.diferentes p{
    font-style: italic;
}

